@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color:  rgb(248, 255, 255);
}

/* navbar */

.carousel-item img{
height: 500px;
}

.navbar-expand-sm{
    margin-top: 20px;
}
.nav-item{
    padding-left: 50px;
}
.scroll img{
    padding-left: 10px;
    width: 300px;
    height: 100px;
}
.highLights img{
    width: 200px;
    height: 200px;
   
}
.contact-us{
    width: 0px;
   font-size:60px;
  margin-left: 1100px;
  margin-bottom: 100px;
  color:rgb(118, 255, 148);
}
.highLights:hover{
transform: scale(1.1);
transition: 1s;
}

.highLights{
   width: 200px;
   height: max-content;
   overflow: hidden;
   transition: 1s; 
}

.carousel-item img{
border-radius: 40px;
height: 600px;
} 
/* main section */
marquee img{
    margin-left: 50px;
}
.E-Learing{
    padding-top:30px ;
}
.navbar-nav .nav-item:hover{
    text-decoration: underline;
    color: blue;

}
.custom-line-spacing{
    line-height: 30px;
    word-spacing: 5px;
}
/* available cources */
.AvailableCourse{
    overflow-x: scroll;
    overflow-y: hidden;
}
.course img{
    width: 200px;
    height: 180px;
}
.course{
    transition: 1s;
}
.course:hover{
    transform: scale(1.1);
    transition: 1s; 
}
/* footer */
footer li {
list-style: none;
}
footer a{
    text-decoration: none;
}

#contact{
    background-color: aliceblue;
    background-size: contain;
    box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.25);
    margin-left: 25%;
    margin-bottom: 5%;
    width: 40%;
}
#contact-us{
    display: none;
}
@media (max-width: 576px) { 
    body{
        .carousel-item img{
height: 400px;
        }
    }
 }